name: .NET Core

on: 
  push:
    branches: 
      - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.100
    - name: Build with dotnet
      run: dotnet build src/BlazAdmin/BlazAdmin.csproj --configuration Release
    - name: Build Number Generator
      uses: einaregilsson/build-number@v2
      with: 
        token: ${{secrets.github_token}}
    - name: pack nuget
      run: dotnet pack src/BlazAdmin/BlazAdmin.csproj /p:PackageVersion=0.0.2.1 -c Release --no-build --no-restore
    - name: push nuget
      run: dotnet nuget push src/BlazAdmin/bin/Release/BlazAdmin.0.0.2.1.nupkg -s https://api.nuget.org/v3/index.json  -k oy2d44fv6wifoxdcwgkas7iwi37eahuexbsilepbewbnnu
